<nav id="navbar" class="glass-nav">
  <div class="nav-container">
    <a href="/index.html" class="nav-logo">
      <img src="/assets/images/logo1.png" alt="Integrated Development Facility logo" class="nav-logo-img">
      <div class="nav-logo-text">
        <span class="nav-logo-main">IDF Kenya</span>
        <span class="nav-logo-sub">Integrated Development Facility</span>
      </div>
    </a>

    <button class="nav-toggle" id="navToggle" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>

    <ul class="nav-links" id="navLinks">
      <li class="has-dropdown">
        <a href="#" class="nav-link">About Us <span class="chevron">&#8250;</span></a>
        <ul class="dropdown">
          <li><a href="/pages/our-history.html">Our History</a></li>
          <li><a href="/pages/mission-vision.html">Mission, Vision &amp; Values</a></li>
          <li><a href="/pages/partners.html">Partners &amp; Networks</a></li>
          <li><a href="/pages/our-team.html">Our Team</a></li>
          <li><a href="/pages/careers.html">Join Us</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#" class="nav-link">Our Work <span class="chevron">&#8250;</span></a>
        <ul class="dropdown">
          <li><a href="/pages/usaid-nuru-ya-mtoto.html">USAID Nuru Ya Mtoto</a></li>
          <li><a href="/pages/kuimarisha-kaunti.html">Kuimarisha Kaunti</a></li>
          <li><a href="/pages/global-fund-malaria.html">Global Fund Malaria</a></li>
          <li><a href="/pages/seka-kagwa.html">Seka Kagwa Water</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#" class="nav-link">Regions <span class="chevron">&#8250;</span></a>
        <ul class="dropdown">
          <li><a href="/pages/homabay-county.html">Homa Bay County</a></li>
          <li><a href="/pages/nyamira-county.html">Nyamira County</a></li>
          <li><a href="/pages/vihiga-county.html">Vihiga County</a></li>
          <li><a href="/pages/meru-county.html">Meru County</a></li>
          <li><a href="/pages/tharaka-county.html">Tharaka Nithi County</a></li>
          <li><a href="/pages/kwale-county.html">Kwale County</a></li>
          <li><a href="/pages/kirinyaga-county.html">Kirinyaga County</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#" class="nav-link">Resources <span class="chevron">&#8250;</span></a>
        <ul class="dropdown">
          <li><a href="/pages/newsletters.html">Newsletters</a></li>
          <li><a href="/pages/photos.html">Photo Gallery</a></li>
          <li><a href="/pages/videos.html">Videos</a></li>
          <li><a href="/pages/documents.html">Documents</a></li>
          <li><a href="/pages/policies.html">Policies</a></li>
        </ul>
      </li>
      <li><a href="/pages/contact.html" class="nav-cta">Contact Us</a></li>
    </ul>
  </div>
</nav>
